html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
html, body {
  display: block;
  height: fit-content;
  width: 100vw;
  padding: 0;
  overflow-x: hidden;
}
.page-2 {
  margin-top: -5rem;
}
.page-3 {
  margin-top: -5rem;
}
.page-4 {
  margin-top: -5rem;
}
.page-5 {
  margin-top: -5rem;
}
.page-6 {
  margin-top: -5rem;
}
body {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background-color: #f5f5f5;
}

* {
text-decoration: none;
font-family: poppins;
}
a {
  color: #f5f5f5;;
  text-decoration: underline;
  text-decoration-color: #f5f5f5;
  text-decoration-thickness: 2px;
  text-underline-offset: 3.5px;
}
.logo-link {
  text-decoration: none;
}
.background {
position: relative;
width: 100vw;
height: 105vh;
overflow-x: hidden;
overflow-y: hidden;
overflow: hidden;
clip-path: polygon(42% 0, 100% 0, 100% 100%, 0% 100%, 0 3%, 42% 3%);
margin-top: -8rem;
}
.background-longer {
  
  clip-path: polygon(38% 0, 100% 0, 100% 100%, 0% 100%, 0 3%, 38% 3%);
}
.background-main {
width: 100vw;
height: 105vh;
overflow-x: hidden;
overflow-y: hidden;
}

.green {
  background-image: url('/svgs/bubbles_mobile.svg');
  position: relative; 
  overflow: hidden;
} 

.white {
  background-image: url(/svgs/bubbles_white-desktop.svg);
  position: relative;
}
.hero-page-container {
  position: relative;
  height: 100%;
  width: 100%;
}

.line-art-container {
  width: 100%;
  height: 100%;
  position: absolute;
}

.margin-span {
text-align: center;
margin-top: .2rem;
display: block;
}
.desktop-svg1, .desktop-svg2, .desktop-svg3, .desktop-svg4, 
.desktop-svg5, .desktop-svg6, .desktop-svg7, .desktop-svg8,
.desktop-svg9, .desktop-svg10, .desktop-svg11, .desktop-svg12,
.desktop-svg13, .desktop-svg14, .desktop-svg15, .desktop-svg16,
.desktop-svg17, .desktop-svg18, .desktop-svg19, .desktop-svg20,
.desktop-svg21, .desktop-svg22, .desktop-svg23{
  display: none;
}
.flower-svg, .flower-svg2, .flower-svg3, .flower-svg4, .flower-svg-contact, .flower-svg-contact2 {
  display: none;
}

.line-art0 {
  position: absolute;
  height: 20rem;
  width: 30rem;
  left: -22rem;
  top: 8rem;
}
.line-art1 {
  position: absolute;
  top: 44.5%;
  float: right;
  right: 10%;
  overflow: hidden;
  width: 203px;
  height: 77px;
}
.line-art2 {
  position: absolute;
  top: 41%;
  float: left;
  left: 11%;
  overflow: hidden;
  width: 12rem;
}
.line-art3 {
  position: absolute;
  float: right;
  top: 8%;
  right: -13rem;
  height: 85%;
}
.line-art5 {
  position: absolute;
  float: right;
  right: 5%;
  top: 63rem;
  width: 225px;
  height: 40px;
}
.line-art6 {
  z-index: 1;
  position: absolute;
  top: 5%;
  right: -13rem;
  opacity: 1;
  height: 87%;
}
.page4-return {
  right: -16rem;
  top: 5rem;
  height: 100%;
}
.logo-container {
  position: relative;
  top: 3rem;
  left: 1.5rem;
  width: 30.1rem;
  height: 8.7rem;
}

.hero-content-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.aimee-Oki {
  display: flex;
  border: 1px solid #00563B;
  width: 17rem;
  height: 4rem;
  align-items: center;
  padding-left: .5rem;
  background-color: #f5f5f5;
  border-radius: .5rem;
  color: #00563B;
  justify-content: left;
}

.aimee-text {
  font-family: poppins;
  font-weight: 700;
  font-size: 3rem;
  white-space: nowrap;
}

.foundation {
  display: flex;
  position: relative;
  left: 7rem;
  width: 22rem;
  height: 4rem;
  background-color: #00563B;
  color: #f5f5f5;
  align-items: center;
  border-radius: .5rem;
  justify-content: center;
}

.foundation-text {
  font-family: poppins;
  font-weight: 700;
  font-size: 3rem;
  white-space: nowrap;
  letter-spacing: .25rem;
}

/* navbar section */

.navbar {
display: flex;
position: relative;
float: right;
width: 17rem;
height: 24rem;
justify-content: left;
top: -7rem;
}

.nav-menu {
z-index: 998;
position: relative;
background-color: #f5f5f5;
color: #00563B;
padding-left: 1rem;
list-style-type: none;
line-height: 4rem;
width: 15rem;
margin-top: 0;
width: 17rem;
height: 24rem;
border-radius: 1rem 0 0 1rem;
opacity: 85%;
}
.nav-links .nav-link {
  text-decoration: none;
  color: #00563B;
  font-size: 1.2rem;
  font-weight: 700;
  font-family: poppins;
  letter-spacing: 0;
  
}

.menu {
background-color: transparent;
border: none;
cursor: pointer;
display: flex;
padding: 0;
position: absolute;
right: 2.5rem;
}


.nav-menu {
right: -50rem;
transition: .3s;
}
.nav-menu.active {
right: 0;
}

.hamburger-container.active {
right: -6rem;
transition: .8s;
}

.hamburger-container {
position: absolute;
display: flex;
justify-content: center;
align-items: center;
width: 5.5rem;
height: 4rem;
right: 0;
background-color: #f5f5f5;
border-radius: 1rem 0 0 1rem;
opacity: 85%;
}
.hamburger {
float: right;
z-index: 999;
cursor: pointer;
position: absolute;
top: .5rem;
right: 1.5rem;
}

.hamburger.active .bar:nth-child(2) {
opacity: 0;
}
.hamburger.active .bar:nth-child(1) {
transform: translateY(.8rem) rotate(45deg);
}
.hamburger.active .bar:nth-child(3) {
transform: translateY(-.8rem) rotate(-45deg);
}


.bar {
display: block;
position: relative;
width: 2.5rem;
height: .3rem;
margin: .5rem auto;
-webkit-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
background-color: #00563B;
}

/* nav element end */

.hero-container {
display: flex;
flex-direction: column;
position: relative;
height: 100%;
width: 100%;
top: 3rem;
}


.aimee-img1 {
position: relative;
align-self: center;
top: -23rem;
height: 33%;
width: 66%;
border-radius: 1.5rem;
border: 1px solid #f5f5f5;
margin-bottom: 4%;
}

.info-title {
display: flex;
align-items: center;
justify-content: center;
position: relative;
width: 18rem;
height: 3.5rem;
border-radius: 0 5px 0 0;
top: -22rem;
background-color: #f5f5f5;
}
.header-2 {
  color: #f5f5f5;
  font-size: 1rem;
} 
h2 {
font-size: 1.2rem;
font-family: poppins;
font-weight: 700;
color: #00563B;
letter-spacing: 1px;
}

.box-content {
position: relative;
width: 35rem;
height: 11.5rem;
top: -22rem;
background-color: #19714c;
opacity: 100%;
border-radius: 0px 15px 15px 0;
}
.hero-content, pre {
opacity: 100%;
position: relative;
top: -1rem;
left: .5rem;
color: #fff;
font-size: 1.4rem;
font-family: poppins;
font-weight: 400;
line-height: 1.25;
}
.hero-content2 {
text-align: center;
line-height: 2;
}

.info-title2 {
  top: -20%;
  height: 4rem;
}
.box-content2 {
  top: -20%;
}
.icon-container {
display: inline-block;
position: relative;
width: 3rem;
height: 3rem;
background-color: #f5f5f5;
left: 22%;
top: -1.5rem;
border-radius: 100%;
margin-right: 5rem;
}
.icon-svg {
display: flex;
align-self: center;
justify-self: center;
}

.info-title3, .box-content3 {
display: none;
}

.next-page {
  position:relative;
  z-index: 999;
display: flex;
justify-content: center;
align-items: center;
top: -9.25%;
float: right;
right: 1%;
width: 20rem;
height: 5rem;
white-space: nowrap;
gap: 4rem;
}
.down-arrow {
  position: relative;
  width: 2rem;
  height: 2rem;
  right: 0rem;
  top: -2px;
}
.aimees-story {
margin-top: 10px;
margin-left: .5rem;
font-size: 1.6rem;
letter-spacing: 0;

}

/* page 2 */
.page-cover {
  position: relative;
  height: 90%;
  top: 1rem;
}
.line {
position: absolute;
border-top: 2px  solid #429c59;
border-left: 2px  solid #429c59;
border-bottom: none;
border-right: none;
border-radius: 10px;
}
.line-second {
  position: absolute;
  border-bottom: 2px  solid #429c59;
  border-right: 2px  solid #429c59;
  border-top: none;
  border-left: none;
  border-radius: 10px;
}
.line1 {
top: 32%;
left: 27%;
width: 14%;
height: 13%;
}
.line2 {
top: 26%;
left: 18%;
width: 27%;
height: 19%;
}

.line3 {
top: 16%;
left: 9%;
width: 36%;
height: 28%;
}
.line4 {
z-index: 1;
top: 48%;
right: 27%;
width: 14%;
height: 13%;
}
.line5 {
top: 48%;
right: 18%;
width: 26%;
height: 19%;
}
.line6 {
top:  48%;
right: 9%;
width: 36%;
height: 28%;
}


.her-story {
z-index: 4;
position: relative;
top: -3%;
left: 13rem;
padding: 10px 10px 10px 10px;
background: #00563B;
opacity: 95%;
border-radius: 10px;
width: 10rem;
}
.pg2-titletag {
z-index: 5;
color: #f5f5f5;
opacity: 400%;
margin: 0;
}

.pg2-img-container {
  top: 4rem;
position: relative;
right: 0rem;
width: 86%;
height: 36rem;
margin: 1rem;
padding-top: 2rem;
}

.aimee-with-friend {
z-index: 2;
position: absolute;
top: 0rem;
right: 0;
width: 60%;
height: 50%;
border: 2px solid #429c59;
border-radius: 15px;
}
.aimee-with-friend2 {
z-index: 3;
position: absolute;
top: 36%;
left: 0;
width: 60%;
height: 50%;
border: 2px solid #429c59;
border-radius: 15px;
}
.svg-art-container2 {
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 100%;
}
.svg-art-container {
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 100%;
}
.line-art7 {
  position: absolute;
  width: 5rem;
  right: 2rem;
}
.line-art8 {
  position: absolute;
  width: 5rem;
  rotate: 90deg;
  top: 31rem;
  left: 16rem;
}
.line-art9 {
  position: absolute;
  width: 9rem;
  top: 34.5rem;
  right: 8rem;
}
.line-art10 {
  position: absolute;
  width: 8.5rem;
  top: 34.5rem;
  left: 6.5rem;
  transform: scaleX(-1);
}
.pg2-box-content {
padding: 10px;
display: block;
top: 1rem;
margin: 1rem;
width: 83%;
height: 30rem;
border-radius: 15px;
overflow:hidden;
opacity: 100%;

}
.text-container {
height: 98%;
width: 97%;
overflow: auto;
}
.pg2-content {
font-size: 1.6rem;
margin-top: 1rem;
left: 1;
letter-spacing: 1px;
height: 90%;
}
.next-page2 {
  z-index: 999;
  top: -1.5%;
  left: 0rem;
  gap: 1rem;
  width: 25rem;
}

/*end of page 2 */
.community-events-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  gap:3rem;
}
.line-art12 {
  position: absolute;
  left: -6rem;
  top: 17%;
  height: 60rem;
}
.line-art13 {
  position: absolute;
  width: 28rem;
  right: 2rem;
  top: 44.5%;
}
.mySwiper3 {
  display: none;
}

.slider-container {
width: 100%;
height: 100vh;
display: flex;
align-items: top;
flex-direction: column;
box-sizing: border-box;

}
.swiper {
  position: relative;
  left: -1rem;
top: -3%;
width: 27rem;
height: 35rem;
}

.swiper-slide {
border-radius: 18px;
font-size: 22px;
font-weight: bold;
color: #fff;
}
.community-img1-container {
display: flex;
align-items: center;
justify-content: center;
position: relative;
top: 0;
height: 11rem;
background-color: #f5f5f5;
}
.card-image {
  box-sizing: border-box;
width: 35%;
height: 9.5rem;
border-radius: 100%;
border: 3px solid #00563B;
}
.community-title-container {
z-index: 2;
display: flex;
align-items: center;
justify-content: center;
position: relative;
top: 0rem;
height: 4rem;
background-color: #096447;
}
.community-title {
color: #f5f5f5;
font-size: 1rem;
letter-spacing: 0px;
font-weight: 600;
text-align: center;

}
.community-text-container {
line-height: 1.75rem;
z-index: 1;
position: relative;
display: flex;
justify-content: center;
width: 100%;
height: 100%;
top: -.8rem;
background-color: #19714c;
opacity: 100%;
}

.community-text {
margin-left: 1rem;
margin-right: 1rem;
font-size: 1.2rem;
letter-spacing: 2px;
font-weight: 400;
text-align: center;
}
.desktop-swiper {
display: none;
}
.next-page3 {
  position: absolute;
  right: 0;
  top: 88%;
}
.page3-return {
  height: 97%;
}

.line-art14 {
  position: absolute;
  width: 30.5rem;
  height: 28rem;
  top: 7rem;
  right: -1rem;
}
.line-art15 {
  position: absolute;
  top: 10rem;
  right: 1rem;
}
.line-art16 {
  position: absolute;
  left: 12rem;
  top: 34%;
}
.line-art17 {
  position: absolute;
  top: 90.5%;
  right: -1rem;
  width: 15rem;
}
.donate-container {
position: relative;
top: 1rem;
left: 1rem;
width: 90%;
height: 90vh;
overflow: visible;
}
.svg-container {
  position: relative;
  top: -3rem;
display: flex;
flex-direction: column;
align-items: flex-end;
width: 100%;
height: 44%;
}
.donate-svg {
z-index: 4;
position: relative;
width: 20rem;
height: 14rem;
right: 1rem;
top: 2rem;
}
.donate-svg2 {
z-index: 3;
position: relative;
top: -3rem;
right: 14rem;
width: 27rem;
height: 16rem;
}
.donate-svg3 {
z-index: 2;
position: relative;
width: 24rem;
height: 14rem;
right: 0;
top: -7rem;
}
.textbox-container {
display: flex;
justify-content: center;
padding: 0;
width: 100%;
height: 65%;
overflow: hidden;
}
.textbox2 {
display: none;
}
.textbox {
position: relative;
z-index: 2;
top: 3%;
padding: 1.5rem 0rem .5rem 1.5rem;
width: 95%;
height: 68%;
background-color: #19714c;
opacity: 95%;
border-radius: 18px;
text-indent: 2rem;
}
.donate-textbox {
overflow: auto;
width: 95%;
height: 95%;
}
.donate-text {
color: #f5f5f5;
font-weight: 400;
font-size: 1.8rem;
letter-spacing: 1px;
margin: 0;
line-height: 2.25rem;
}
.next-page4 {
  top: -1rem;
  right: -.75rem;
  width: 25rem;
  gap: 1rem;
}

.line-art18 {
  z-index: 1;
  position: absolute;
  height: 16rem;
  right: -.5rem;
  margin-top: 3rem;
  transform: scaleX(-1);
}
.line-art19 {
  position: absolute;
  width: 3rem;
  right: 2rem;
  margin-top: 3.5rem;
}

.resources-container {
display: flex;
flex-direction: column;
justify-content: center;
position: relative;
top: -2%;
height: 100%;
width: 100%;
}
.resources-content {
display: flex;
margin-bottom: 7%;
width: 100%;
height: auto;
}
.resources-card-container {
  z-index: 2;
width: 55%;
height: 22rem;
border-radius: 1.5rem;
}

.resources-header {
  
display: flex;
align-items: center;
justify-content: center;
width: 100%;
height: 4rem;
background-color: #f5f5f5;
border-radius: 0 1.5rem 0 0;
text-align: center;
}
.resources-text-container {
height: 86%;
width: 100%;
background-color: #19714c;
border-radius: 0 0 1.5rem 0;
opacity: 95%;
}
.resources-text {
margin: .5rem 0 .5rem .5rem;
color: #f5f5f5;
font-size: 1.2rem;
font-weight: 400;
line-height: 2rem;
}
.resources-text-margin {
  margin-top: 2rem;
}
.resources-imgs {
  z-index: 999;
margin-left: 0rem;
align-self: center;
border-radius: 100%;
border: 2px solid #f5f5f5;
width: 13rem;
height: 13rem;
}
.next-page5 {
  gap: 5rem;
  top: -.5%;
  right: -.5rem;
}
.overflow {
overflow: hidden;
}

.next-page6 {
  top: -.5rem;
  left: 0;
  gap: 5rem;
}
.contact-container {
display: flex;
flex-direction: column;
align-items: center;
gap: 6%;
width: 100%;
height: 100vh;
}
.social-media-container {
display: flex;
align-items: center;
position: relative;
top: 3rem;
display: flex;
flex-direction: column;
justify-content: center;
gap: 2rem;
width: 90%;
height: 25%;
}
.title-container {
display: flex;
align-items: center;
justify-content: center;
background-color: #19714c;
opacity: 90%;
border-radius: 15px;
margin: 0 5px 0 5px;
padding: 15px 15px 15px 15px;
width: fit-content;
height: fit-content;
}
.contact-titles {
margin: 0;
color: #f5f5f5;
}
.social-links-container {
display: flex;
flex-direction: row;
height: 50%;
}
.social-unit {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 100%;
width: 33%;
margin: 0;
}
.contact-icon-container {
display: flex;
justify-content: center;
align-items: center;
width: 5rem;
height: 5rem;
background-color: #00563B;
opacity: 95%;
border-radius: 100%;
margin-bottom: 1.5rem;
}

.email-section {
display: flex;
flex-direction: column;
align-items: center;
gap: 1rem;
width: 100%;
height: 70%;
}
.email-container {
display: flex;
flex-direction: column;
align-items: center;
width: 90%;
height: 81%;
background-color: #19714c;
opacity: 90%;
border-radius: 15px;
}
h4 {
color: #f5f5f5;
letter-spacing: 1px;
}
.form-container {
align-self: center;
display: flex;
gap: 1rem;
flex-direction: column;
width: 90%;
height: 100%;
}
.small-input {
outline: none;
height: 2.5rem;
border-radius: 10px;
border: none;
padding-left: 1rem;
}
.large-input {
outline: none;
height: 65%;
}
.button-input {
width: 30%;
border-radius: 15px;
}
@media only screen and (max-width: 380px) {
.hero-container {
  top: 3rem;
}
.nav-bar {
  width: 60%;
}
.nav-menu {
  width: 100%;
}
.info-title2, .box-content2 {
  top: -23%;
}
.line-art5 {
  top: 60rem;
}
.pg2-box-content {
  height: 28rem;
}
.swiper {
  height: 33rem;
  width: 25rem;
}
.community-text {
  font-size: 1.1rem;
}
.textbox-container {
  position: relative;
  height: 47rem;
  top: 1%;
}
.resources-container {
  height: 100%;
}
.resources-card-container {
  height: 20rem;
}
.resources-text-container2 {
  height: 21rem;
}
.resources-imgs {
  height: 11rem;
  width: 11rem;
  margin-left: 1rem;
  margin-top: 1.5rem;
}
}

@media only screen and (min-width: 900px) {
.green {
  background-image: url('/svgs/bubbles_desktop.svg');
}
.background {
  height: 105vh;
}
.logo-container {
  position: relative;
  top: 5rem;
  width: 32rem;
  height: 20rem;
}
.aimee-Oki {
  width: 67%;
  height: 24%;
}
.aimee-text {
  letter-spacing: 20px;
  font-size: 3.8rem;
  letter-spacing: 0;
}
.foundation {
  width: 88%;
  height: 24%;
  left: 8rem;
}
.foundation-text {
  font-size: 3.8rem;
  letter-spacing: 5px;
}
.hamburger-container, .hamburger{
  display: none;
}
.nav-menu, .navbar {
  top: -9.5rem;
  float: right;
  right: -10rem;
  width: 84%;
  height: 5rem;
}
.nav-menu {
  display: flex;
  align-items: center;
  overflow: hidden;
  padding-left: 1.5rem;
}
.nav-links {
  display: inline;
  margin-right: 2%;

}
.nav-links .nav-link {
  font-size: 1.6rem;
}
.hover-state {
  display: inline-block;
  position: relative;
}
.hover-state::before {
  content:"";
  position: absolute;
  left: 4%;
  bottom: 0;
  width: 0%;
  height: .2rem;
  background-color: #00563B;
  transition: width 0.25s ease-in-out;
}
.hover-state:hover::before {
  width: 95%;
}

.hero-container {
  position: relative;
  top: -3rem;
}
.aimee-img1 {
  position: absolute;
  right: 61%;
  float: right;
  top: -7rem;
  width: 36rem;
  height: 38rem;
}
.info-title, .box-content {
  position: relative;
  left: 2rem;
  border: none;
  border-radius: .8rem;
}

.info-title {
  top:-8rem;
  left: 40rem;
  width: 20rem;
  height: 3rem;
}
.box-content {
  top: -8rem;
  width: 40%;
  height: 9.5rem;
  margin-bottom: 1rem;
}
.hero-content {
  font-size: 1.4rem;
  font-weight: 400;
  top: .5rem;
  left: 1rem;
  width: 96%;
}
.hero-content1{
  font-size: 1.4rem;
  font-weight: 400;
  top: .5rem;
  left: 1rem;
  width: 95%;
}


.info-title2 {
  left: 40rem;
  top: 8.5rem;
}
.box-content2 {
  left: 2rem;
  width: 45rem;
  height: 11rem;
  top: 12rem;
}
.hero-content2 {
  line-height: 1.5;
}

.info-title3{
  top: -24rem;
}
.info-title3 {
  left: 5rem;
  display: flex;
}
.box-content3 {
  display: block;
  left: 15rem;
  top: -30rem;
  height: 10rem;
}
.icon-container {
  width: 4rem;
  height: 4rem;
  left: 11rem;
  top: 2px;
}
.icon-svg {
  position: relative;
  left: .5rem;
  top: .5rem;
}
.next-page {
  right: 0;
  top: -24rem;
}
.her-story {
  z-index: 5;
  position: absolute;
  top: 5rem;
  right: 16rem;
  opacity: 1;
}
.pg2-titletag {
  z-index: 4;
  font-size: 2rem;
  margin: 0;
}
.pg2-img-container {
  top: 12rem;
  margin-right: 5rem;
  float: right;
  width: 42%;
  height: 75%;
}

.pg2-box-content {
  display: inline;
  position: absolute;
  width: 45%;
  height: 80%;
  left: 2rem;
  top: 10rem;
}
.line1 {
  top: 24%;
  left: 27%;
  width: 14%;
  height: 13%;
}
.line2 {
  top: 18%;
  left: 18%;
  width: 27%;
  height: 19%;
}

.line3 {
  top: 9%;
  left: 9%;
  width: 36%;
  height: 28%;
}

.mobile {
  display: none;
}
.desktop-swiper {
  display: inline;
}
.swiper {
  height: 41rem;
  position: static;
}
.mySwiper {
  position: relative;
  top: -6rem;
  left: -1.5rem;
}
.mySwiper2 {
  left: -34.5rem;
  top: -48rem;
}
.mySwiper3 {
  position: absolute;
  top: -93rem;
  left: 32rem;
  display: block;
}
.community-text {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
}
.next-page2 {
  position: absolute;
  float: right;
  top: 141%;
  right: -30%;
}
/* end of community and events section */
.textbox2 {
  display: block;
}
.secondary-text {
  display: none;
}
.svg-container {
  position: absolute;
  align-items: center;
  justify-content: center;
  left: 0rem;
  width: 100%;
  height: 100%;
}
.donate-svg {
  z-index: 999;
  left: -30%;
  top: 18%;
  width: 38%;
  height: 37%;
}
.donate-svg2 {
  z-index: 555;
  right: 1%;
  top: -2%;
  width: 30%;
  height: 60%;
}
.donate-svg3 {
  z-index: 1;
  right: -28%;
  top: -16%;
  width: 38%;
  height: 45%;
}
.donate-textbox {
  overflow: hidden;
}
.donate-container {
  position: relative;
  left: 1%;
  top: 4.5rem;
  width: 98%;
  height: 70vh;
}
.textbox-container {
  display: block;
  height: 70vh;
  width: 90%;
  overflow: visible;
}
.textbox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 2%;
  width: 30%;
  height: 36%;
  float: right;
  padding: 3px;
}
.textbox2 {
  float: left;
  left: 1%;
  width: 30%;
  height: 35%;
  top: 63%;
  padding: 5px;
}

.donate-text {
  font-size: 1.4rem;
}

.resources-container {
  display: flex;
  flex-direction: row;
  left: -1rem;
  
}
.resources-content {
  position: relative;
  top: -2rem;
  flex-direction: column-reverse;
  justify-content: bottom;
  align-items: center;
  height: 100%;
}
.second-card {
  top: -6rem;
}
.resources-card-container {
  width: 80%;
  height: auto;
  
}
.resources-header {
  border-radius: 1.5rem 1.5rem 0 0;
}
.resources-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 1.5rem 1.5rem;
}
.resources-imgs {
  height: 45%;
  width: 72%;
  border-radius: 1.8rem;
  margin-bottom: 4rem;
}
.resources-text {
  font-size: 1.6rem;
  line-height: 2.5rem;
}

}
@media only screen and (min-width: 1300px) {
.background {
  margin-top: -4rem;
  clip-path: polygon(80% 0, 100% 0, 100% 100%, 0% 100%, 0 5%, 80% 5%);
  height: 108vh;
}
.background-main {
  height: 102vh;
}
.background-longer {
  
  clip-path: polygon(76% 0, 100% 0, 100% 100%, 0% 100%, 0 5%, 76% 5%);
}
.line-art3 {
  right: -9.75rem;
  top: 14.5rem;
  height: 70rem;
}
.line-art0, .line-art1, .line-art2, .line-art3, .line-art4, 
.line-art5, .line-art7, .line-art8, .line-art9, .line-art10,
.line-art11, .line-art12, .line-art13, .line-art14, .line-art15, 
.line-art16, .line-art17, .line-art18, .line-art19{
  display: none;
}
.desktop-svg1, .desktop-svg2, .desktop-svg3, .desktop-svg4, 
.desktop-svg5, .desktop-svg6, .desktop-svg7, .desktop-svg8,
.desktop-svg9, .desktop-svg10, .desktop-svg11, .desktop-svg12,
.desktop-svg13, .desktop-svg14, .desktop-svg15, .desktop-svg16,
.desktop-svg17, .desktop-svg18, .desktop-svg19, .desktop-svg20,
.desktop-svg21, .desktop-svg22, .desktop-svg23{
  display: block;
}
.desktop-svg1 {
  position: relative;
  left: 33%;
  top: 15.5rem;
  height: 8rem;
}
.desktop-svg2 {
  position: absolute;
  top: 7rem;
  left: 50%;
  width: 53rem;
}
.desktop-svg3 {
  position: absolute;
  left: 3.8rem;
  top: 33rem;
  height: 8rem;
  transform: scaleX(-1);
}
.desktop-svg4 {
  position: absolute;
  left: 54rem;
  top: 45rem;
  width: 8rem;
}
.flower-svg, .flower-svg2 {
  display: inline;
  position: absolute;
  width: 30rem;
  right: 45rem;
  top: 35%;
}
.flower-svg2 {
  transform: scaleX(-1);
  right: 1rem;
  top: 13%;
}
.desktop-svg5 {
  position: absolute;
  width: 7rem;
  right: 5rem;
  top: 80%;
  transform: scaley(-1);
}
.logo-container {
  width: 46rem;
  height: 22rem;
}
.aimee-Oki {
  display: flex;
  justify-content: center;
  width: 23rem;
  height: 5rem;
  padding: 0;
}
.aimee-text {
  font-size: 4.2rem;
  letter-spacing: 0;
}
.foundation {
  display: flex;
  justify-content: center;
  width: 32rem;
  height: 5rem;
  left: 8rem;
}
.foundation-text {
  font-size: 4.2rem;
  letter-spacing: 5px;
  margin-left: 5px;
}
.hamburger-container, .hamburger{
  display: none;
}
.nav-menu, .navbar {
  top: -9rem;
  float: right;
  right: -12rem;
  width: 83%;
  height: 5.5rem;
}
.nav-menu {
  display: flex;
  align-items: center;
  overflow: hidden;
  padding-left: 3rem;
}
.nav-links {
  display: inline;
  margin-right: 5%;

}
.nav-links .nav-link {
  font-size: 1.8rem;
}
.hover-state {
  display: inline-block;
  position: relative;
}
.hover-state::before {
  content:"";
  position: absolute;
  left: 4%;
  bottom: 0;
  width: 0%;
  height: .2rem;
  background-color: #00563B;
  transition: width 0.25s ease-in-out;
}
.hover-state:hover::before {
  width: 95%;
}


.aimee-img1 {
  position: absolute;
  right: 12rem;
  top: -8rem;
  width: 28%;
  height: 65%;
}
.info-title, .box-content {
  border: none;
  border-radius: .8rem;
}

.info-title {
  left: 40%;
  width: 16rem;
  height: 3rem;
  top: -11.5rem;
}
.box-content {
  top: -10rem;
  width: 36%;
  height: 11.5rem;
  margin-bottom: 1rem;
  left: 8rem;
}
.hero-content {
  font-size: 1.8rem;
  font-weight: 400;
  top: .5rem;
  left: 1rem;
  width: 96%;
}
.hero-content, pre {
  position: static;
  margin: 1rem 1rem 0 1rem;
}
.hero-content1{
  font-size: 1.6rem;
  font-weight: 400;
  top: .5rem;
  left: 1rem;
  width: 95%;
}


.info-title2 {
  left: 55rem;
  top: 8%;
}
.box-content2 {
  left: 14rem;
  width: 40rem;
  height: 11rem;
  top: 6%;
}
.hero-content2 {
  line-height: 1.5;
  font-size: 1.6rem;
}

.info-title3 {
  top: -24.5rem;
  left: 5rem;
  display: flex;
}
.box-content3 {
  display: block;
  left: 22rem;
  top: -25rem;
  height: 10rem;
}
.hero-content3 {
  font-size: 1.6rem;
}
.icon-container {
  width: 4rem;
  height: 4rem;
  left: 8.5rem;
  top: 2px;
}
.icon-svg {
  position: relative;
  left: .5rem;
  top: .5rem;
}
 .aimees-story {
  font-size: 2rem;
}
.next-page {
  right:-1rem;
  top: -4.75rem;
  width: 30rem;
  gap: 3rem;
  cursor: pointer;
}
.aimee-story-container {
  width: 100%;
  height: 100%;
  position: relative;
  top: 4rem;
}
#aimees-story {
  font-size: 1.8rem;
  letter-spacing: 2px;
}
.down-arrow {
  width: 2.5rem;
  height: 2.5rem;
}
.line-art6 {
  top: 1rem;
  right: -10rem;
  height: 80rem;
}
.page3-return {
  top: 5rem;
}
.page4-return {
  top: 0rem;
  right: -11.5rem;
}
.page5-return {
  top: 5rem;
  right: -10rem;
}
.next-page2 {
  position: relative;
  top: -.5rem;
  left: -3.5rem;
  gap: 5rem;
}
.page-cover {
  position: relative;
  margin-top: 0rem;
  height: 100%;
}
.flower-svg3, .flower-svg4 {
  display: block;
  width: 20rem;
  position: absolute;
}
.flower-svg3 {
  right: -5rem;
  top: -11rem;
}
.flower-svg4 {
  right: 45rem;
  top: 24rem;
  transform: scaley(-1);
}
.desktop-svg6 {
  position: absolute;
  width: 30rem;
  left: 43%;
  top: 35rem;
}
.desktop-svg7 {
  position: absolute;
  right: 35%;
  top: 3.5rem;
}
.desktop-svg8 {
  position: absolute;
  width: 8rem;
  right: 23%;
  top: 8.5rem;
  transform: scaley(-1);
}
.desktop-svg9 {
  position: absolute;
  right: 5rem;
  margin-top: 26rem;
  width: 5rem;
}
.pg2-img-container {
  top: 16rem;
  margin-right: 10rem;
  float: right;
  width: 40%;
  height: 70%;
}
.her-story {
  display: flex;
  justify-content: center;
  z-index: 5;
  position: absolute;
  top: 9rem;
  left: 86rem;
  opacity: 1;
  width: 23rem;
}
.pg2-titletag {
  font-size: 2.2rem;
  letter-spacing: 4px;
}

.pg2-box-content {
  z-index: 999;
  display: inline;
  position: absolute;
  width: 43%;
  height: 90%;
  left: 2rem;
  top: 2rem;
}
.line1 {
  top: 24%;
  left: 27%;
  width: 14%;
  height: 13%;
}
.line2 {
  top: 18%;
  left: 18%;
  width: 27%;
  height: 19%;
}

.line3 {
  top: 9%;
  left: 9%;
  width: 36%;
  height: 28%;
}

.textbox {
  height: 48%;
  width: 34%;
}
.textbox2 {
  height: 45%;
  width: 30%;
}
.page-base {
  width: 100%;
  height: 100vh;
  top: 0rem;
  position: relative;
}
.svg-art-container {
  width: 100%;
  height: 100%;
  position: absolute;
}
.svg-art-container2 {
  width: 100%;
  height: 60vh;
  position: absolute;
}
.community-events-container {
  display: flex;
  flex-direction: row;
  top: 4rem;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.swiper {
  margin-top: 0;
}
.mySwiper {
  top: 0;
  left: 0;
  left: -14rem;
}
.mySwiper2 {
  left: -1.5rem;
  top: 0;
}
.mySwiper3 {
  left: 12rem;
  top: 0;
}
.desktop-svg10 {
  position: absolute;
  height: 80rem;
  transform: rotate(-90deg);
  left: 40%;
  top: 20rem;
}
.desktop-svg11 {
  position: absolute; 
  height: 80rem;
  rotate: 90deg;
  left: 40%;
  top: -22rem;
}
.desktop-svg12 {
  position: absolute;
  width: 36rem;
  right: 5rem;
  top: 30rem;
}
.next-page4 {
  top: -1rem;
  left: -1.25rem;
  gap: 2rem;
}
.desktop-svg13 {
  position: absolute;
  width: 50rem;
  top: 6rem;
  right: 48.5rem;
}
.desktop-svg14 {
  position: absolute;
  width: 50rem;
  top: 40rem;
  left: 47.5rem;
}
.desktop-svg15 {
  z-index: 999;
  position: absolute;
  top: 23rem;
  right:44rem;
  rotate: 90deg;
  width: 6rem;
  
}
.desktop-svg17 {
  position: absolute;
  top: 30rem;
  right: 3.5rem;
}
.desktop-svg16 {
  position: absolute;
  top: 24rem;
  left: 42rem;
  rotate: 90deg;
  width: 6rem;
}
.svg-container {
  height: 90%;
  width: 90%;
  top: 3.5rem;
  left: 10rem;
}
.donate-text {
  font-size: 1.6rem;
  line-height: 2.5rem;
}
.donate-svg {
  z-index: 999;
  left: -30%;
  top: 48%;
  width: 45%;
  height: 65%;
}
.donate-svg2 {
  z-index: 555;
  right: 3%;
  top: 10%;
  width: 60%;
  height: 75%;
}
.donate-svg3 {
  z-index: 1;
  right: -23%;
  top: -23%;
  width: 60%;
  height: 65%;
}
.textbox {
  top: 7%;
  left: 17%;
}
.textbox2 {
  position: absolute;
  top: 34.5rem;
  left: 4%;
}
.next-page5 {
  top: -.5rem;
  right: -2rem;
  gap: 7rem;
}
.desktop-svg18 {
  position: absolute;
  left: 34rem;
  top: 16rem;
}
.desktop-svg20 {
  position: absolute;
  left: 37rem;
  top: 39rem;
  width: 25rem;
}
.desktop-svg21 {
  position: absolute;
  right: 39rem;
  top: 39rem;
  width: 25rem;
  transform: scaleX(-1);
}
.desktop-svg22 {
  position: absolute;
  right: 63rem;
  top: 30rem;
  rotate: 90deg;
}
.desktop-svg23 {
  position: absolute;
  right: 5rem;
  top: 15rem;
}
.desktop-svg19 {
  position: absolute;
  transform: scaleX(-1);
  right: 36rem;
  top: 16rem;
}
.resources-container {
  display: flex;
  flex-direction: row;
  left: -1rem;
  top: -1rem;
}
.resources-content {
  position: relative;
  top: -2rem;
  flex-direction: column-reverse;
  justify-content: bottom;
  align-items: center;
  height: 100%;
}
.resources-content3 {
  top: -2rem;
}
.second-card {
  top: -5rem;
}
.resources-card-container {
  width: 75%;
  height: auto;
  row-gap: 0;
}
.resources-header {
  border-radius: 1.5rem 1.5rem 0 0;
}
.resources-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 1.5rem 1.5rem;
  height: 20rem;
}
.resources-imgs {
  height: 46%;
  width: 60%;
  border-radius: 1.8rem;
  margin-bottom: 3rem;
}
.resources-text {
  font-size: 1.6rem;
  line-height: 2.5rem;
}
.next-page6 {
  top: -.75rem;
  left: 2.25rem;
  gap: 4rem;
}
.email-container {
  width: 55rem;
  height: 90%;
  border: 1px solid #f5f5f5;
  opacity: 100%;
}
.email-section {
  height: 52rem;
  z-index: 5;
}
.title-container {
  opacity: 100%;
  border: 1px solid #f5f5f5;
}
.form-container {
  height: 88%;
}
.contact-container {
  position: relative;
  left: 5%;
  flex-direction: row;
  gap: 0;
  
  width: 90%;
  height: 83%;
}
.flower-svg-contact {
  display: block;
  position: absolute;
  width:40rem;
  left: -4%;
}
.flower-svg-contact2 {
  display: block;
  position: absolute;
  width: 35rem;
  top: -1%;
  rotate: -30deg;
  right: -7%;
  z-index: 1;
}
.social-media-container {
  position: relative;
  left: 5rem;
  border-radius: 20px;
  height: 40%;
  background-color: #f5f5f5;
  border: 3px solid #429c59;
  width: 80%;
}
.social-links-container {
  gap: 5rem;
}
.social-unit {
  width: 10rem;
}
.button-input {
  border: none;
  background-color: #f5f5f5;
  width: 8rem;
  height: 2rem;
}
}

@media only screen and (min-width: 1700px) {
  .background {
    margin-top: -5rem;
     clip-path: polygon(85% 0, 100% 0, 100% 100%, 0% 100%, 0 4%, 85% 4%);
  }
  .background-longer {
    margin-top: -6rem;
     clip-path: polygon(80% 0, 100% 0, 100% 100%, 0% 100%, 0 5%, 80% 5%);
  }
  .green {
    background-image: url('/svgs/bubbles_desktop_bigger.svg');
  }
  .white {
    background-image: url('/svgs/bubbles_white-desktop-bigger.svg');
  }
  .aimees-story {
    font-size: 2rem;
  }
  .header-2 {
    font-size: 2rem;
  }
  .next-page {
    gap: 3rem;
    right: -1rem;
    top: -5.5rem;
  }
  .next-page2 {
    gap: 5.5rem;
    left: -3.75rem;
    top: -.75rem;
  }
  .next-page4 {
    top: -.75rem;
    left: -1rem;
    gap: 1rem;
    justify-self: right;
  }
  .next-page5 {
    top: -.5rem;
    right: -1.5rem;
    gap: 6rem;
  }
  .next-page6 {
    top: -.5rem;
    left: 1.25rem;
    gap: 5rem;
  }
  .aimee-img1 {
    top: -2%;
    height: 60rem;
    right: 8%;
    width: 50rem;
  }
  .desktop-svg5 {
    width: 11rem;
    top: 82%;
    right: 5rem;
  }
  .desktop-svg1 {
    position: relative;
    top: 23rem;
    left: 33.5%;
  }
  .desktop-svg3 {
    top: 40rem;
  }
  .desktop-svg4 {
    top: 58rem;
  }
  .flower-svg {
    right: 27%;
   top: 30% ;
    width: 40rem;
  }
  .flower-svg2 {
    width: 40rem;
    right: 1%;
    top: 11%;
  }
  .box-content {
    top: -2%;
  }
  .info-title {
    top: -5%;
  }
  .info-title3 {
    top: -16rem;
  }
  .box-content3 {
    top: -13rem;
  }
  .info-title2 {
    top: 18rem;
  }
  .box-content2 {
    top: 20rem;
  }
  .aimee-story-container {
    top: 5rem;
  }
  .page-cover {
    height: 100vh;
  }
  .page-base {
    position: relative;
  }
  .svg-art-container {
    height: 50vh;
  }
  .community-events-container {
    top: 5rem;
    height: 95vh;
    position: absolute;
  }
  .donate-container {
    top: 5rem;
  }
  .resources-container {
    top: 1rem;
  }
  .her-story {
    left: 60%;
  }
  .desktop-svg6 {
    margin-top: 2%;
    left: 45.5%;
    width: 40rem;
  }
  .desktop-svg7 {
  right: 33.75%;
  width: 40rem;
  }
  .desktop-svg8 {
    right: 22%;
    margin-top: 0%;
    width: 10rem;
  }
  .desktop-svg9 {
    width: 7rem;
  }
  .flower-svg3 {
    width: 33rem;
    top: -29%;
  }
  .flower-svg4 {
    width: 33rem;
    top: 46%;
    right: 70%;
  }
  .line-art6 {
   height: 95rem;
  }
  .pg2-box-content {
    top: 0;
    height: 88%;
  }
  .page4-return {
   right: -12rem;
  }
  .swiper {
    width:35rem;
    height: 50rem;
  }
  .desktop-svg11 {
    left: 28%;
    margin-top: 2%;
    width: 80rem;
  }
  .desktop-svg10 {
    left: 28%;
    width: 80rem;
    margin-top: 8%;
  }
  .textbox {
    opacity: .95;
    left: 11%;
    top: 6%;
  }
  .textbox2 {
    top: 70%;
    left: 2%;
  }
  .donate-text {
    font-size: 2.0rem;
    line-height: 3.25rem;
  }
  .desktop-svg13 {
    margin-top: 1%;
    right: 34.5%;
    width: 60rem;
  }
  .desktop-svg14 {
    z-index: 1000;
    margin-top: 7%;
    left: 32%;
    width: 60rem;
  }
  .desktop-svg15 {
    margin-top: 5%;
    right: 31%;
    width: 10rem;
  }
  .desktop-svg16 {
    margin-top: 5.5%;
    left: 25%;
    width: 10rem;
  }
  .desktop-svg17 {
    margin-top: 6%;
    right: 3rem;
    width: 45rem;
  }
  .resources-imgs {
    height: 40rem;
  }
  .resources-card-container {
    width: 70%;
  }
  .desktop-svg18 {
    margin-top: 8%;
    left: 22%;
    width: 40rem;
  }
  .desktop-svg19 {
    margin-top: 8%;
    right: 22%;
    width: 40rem;
  }
  .desktop-svg20 {
    margin-top: 14%;
    left: 23%;
    width: 35rem;
  }
  .desktop-svg21 {
    margin-top: 14%;
    right: 24%;
    width: 35rem;
  }
  .desktop-svg22 {
    margin-top: 13%;
    right: 42%;
  }
  .desktop-svg23 {
    margin-top: 5%;
  }
  .second-card {
    top: -10%;
  }
  .contact-container {
    width: 99%;
    height: 95%;
    top: -5%;
  }
  .social-media-container {
    height: 40%;
    width: 50%;
  }
  .email-container {
    width: 70%;
    margin-right: 10%;
  }
  .flower-svg-contact2 {
    right: 4%;
    top:8%;
    width: 45rem;
  }
  .flower-svg-contact {
    left: -5%;
    top:10%;
    width: 40rem;
  }
}